* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4f5f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

body {
  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 4.5rem;
}

.todo-wrapper {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}

.action {
  gap: 0.5rem;
}

.action button {
  border: none;
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action button:hover {
  background-color: #f4f5f6;
}
.action button[title="Delete"] {
  color: red;
}
.action button[title="Complete"] {
  color: green;
}

.gap-1 {
  gap: 1rem;
}
.gap {
  gap: 0.5rem;
}

.check {
  color: #fff;
  background-color: limegreen;
  padding: 0.2rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  color: green;
  font-weight: 500;
  border: 1px solid green;
}

.add-todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.col-3 {
  float: left;
  width: 100%;
  position: relative;
}

input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
:focus {
  outline: none;
}
.effect-20 {
  border: 1px solid #ccc;
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
}

.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.3s;
}
.effect-20 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #4caf50;
  transition: 0.4s;
}
.effect-20 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.has-content.effect-20 ~ .focus-border:before,
.has-content.effect-20 ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.has-content.effect-20 ~ .focus-border i:before,
.has-content.effect-20 ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}
.effect-20 ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 10px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.effect-20:focus ~ label,
.has-content.effect-20 ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: #4caf50;
  transition: 0.3s;
}

.todo-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 18rem);
  overflow: hidden;
  overflow-y: auto;
}

.add-todo button[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* width: 100%; */
  width: max-content;
  flex-shrink: 0;
}

.add-todo button[type="submit"]:hover {
  background-color: red;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.shrink-0 {
  flex-shrink: 0;
}
.max-w-300 {
  max-width: 300px;
}
