* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f4f5f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

body {
  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 4.5rem;
}

.todo-wrapper {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}

.action {
  gap: 0.5rem;
}

.action button {
  border: none;
  padding: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action button:hover {
  background-color: #f4f5f6;
}
.action button[title="Delete"] {
  color: red;
}
.action button[title="Complete"] {
  color: green;
}

.gap-1 {
  gap: 1rem;
}
.gap {
  gap: 0.5rem;
}

.check {
  color: #fff;
  background-color: limegreen;
  padding: 0.2rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  color: green;
  font-weight: 500;
  border: 1px solid green;
}
